
<div style="margin-left: auto;padding-top: 3rem;">
  <button mat-raised-button color="primary" style="margin: 0.5rem;margin-left: 3rem;" [routerLink]="['/studentadd']" routerLinkActive="router-link-active" ><i class="fa fa-plus" aria-hidden="true"></i></button>
<table style="width: 80%; margin: auto;" mat-table [dataSource]="userlist" class="mat-elevation-z8">


  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Title}}<span style="padding-right: 0.5rem;"></span>{{element.Name}}<span style="padding-right: 0.5rem;"></span>{{element.Surname}} </td>
  </ng-container>


  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
  </ng-container>

 
  <ng-container matColumnDef="UserRole">
    <th mat-header-cell *matHeaderCellDef> UserRole </th>
    <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> <button mat-mini-fab color="warn" (click)="deleteUser(element.Id)" aria-label="Example icon button with a menu icon"> <mat-icon>delete</mat-icon></button> </td>
  </ng-container>
  

  <ng-container matColumnDef="Edit">
    <th style="padding: 0.7rem;" mat-header-cell *matHeaderCellDef> Edit </th>
    <td style="padding: 0.5rem;" mat-cell *matCellDef="let element">   <button mat-mini-fab color="accent"[routerLink]="['/studentedit']" routerLinkActive="router-link-active" (click)="edituser(element)" aria-label="Example icon button with a menu icon"> <mat-icon>edit</mat-icon></button> 
    </td>
  </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>


<!--<div style="padding-top: 3rem;">
<button class="btn btn-success" style="margin: 0.5rem;margin-left: 3rem;" [routerLink]="['/studentadd']" routerLinkActive="router-link-active" ><i class="fa fa-plus" aria-hidden="true"></i></button>
<div class="row">
    <div class="col-md-12 offset-md-3">
      <table class="table table-hover" style="width: 40rem;">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>User Role</th>
          <th></th>
          <th></th>
         
        </tr>
        <tr *ngFor="let item of userlist">
          <td style="text-align: left;">{{item.Title}}<span style="padding-right: 0.5rem;"></span>{{item.Name}}<span style="padding-right: 0.5rem;"></span>{{item.Surname}}</td>
          <td style="text-align: left;">{{item.Email}}</td>
          <td style="text-align: left;">{{item.Role}}</td>
          <td>
            <button (click)="deleteUser(item.Id)" class="btn btn-sm btn-outline-danger">Delete</button>
          </td>
          <td>
            <button (click)="edituser(item)"  class="btn btn-sm btn-outline-warning" [routerLink]="['/studentedit']" routerLinkActive="router-link-active">Edit</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
-->