<div style="padding-top: 3rem" class="container">

  
  <div
    style="
      margin: auto;
      border-radius: 2rem;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      width: 60rem;
      height: 32rem;
    "
  >
    <div class="row">
      <div style="padding-top: 1rem; padding-left: 3rem" class="col-md-4">
        <mat-form-field appearance="standard">
          <mat-label>Title</mat-label>
          <mat-select
            name="title"
            #title="ngModel"
            [(ngModel)]="StudentObject.Title"
            required
          >
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs">Mrs</mat-option>
            <mat-option value="Miss">Miss</mat-option>
            <mat-option value="Ms">Ms</mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <label for="title" style="font-size: small">Your title</label>
        <div
          *ngIf="
            title.invalid && (title.dirty || title.touched || valid === false)
          "
          style="color: red"
        >
          <small *ngIf="title.errors.required">Title is required.</small>
        </div>
        <!-- <span
          class="form-group"
          style="color: red"
          *ngIf="StudentObject.Title == ''"
        >
          Please select a employee type
        </span> -->
      </div>
      <div style="padding-top: 2rem" class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Name"
            maxlength="30"
            required
            type="text"
            name="StudentName"
            #StudentName="ngModel"
            [(ngModel)]="StudentObject.Name"
            matInput
            style="width: 11rem"
          />
        </mat-form-field>
        <br />
        <label for="name" style="font-size: small">Your name</label>
        <div
          *ngIf="
            StudentName.invalid &&
            (StudentName.dirty || StudentName.touched || valid === false)
          "
          style="color: red"
        >
          <small *ngIf="StudentName.errors.required">Name is required.</small>
        </div>
      </div>

      <div style="padding-top: 2rem" class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Surname</mat-label>
          <input
            matInput
            placeholder="Surname"
            maxlength="30"
            required
            type="text"
            name="StudentName"
            #SurName="ngModel"
            [(ngModel)]="StudentObject.Surname"
            matInput
            style="width: 11rem"
          />
        </mat-form-field>
        <br />
        <label for="Surname" style="font-size: small">Your Surnname</label>

        <div
          *ngIf="
            SurName.invalid &&
            (SurName.dirty || SurName.touched || valid === false)
          "
          style="color: red"
        >
          <small *ngIf="SurName.errors.required">Surname is required.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div style="padding-top: 1rem; padding-left: 2rem" class="col-md-4">
          <mat-form-field appearance="standard">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              type="email"
              required
              name="Email"
              [(ngModel)]="StudentObject.Email"
              class="form-control"
              style="width: 22rem"
              required
            />
            
          
            
          </mat-form-field>
          <label style="font-size: small; width: 18rem"
            >Enter your Email
          </label>
          <div
          *ngIf="
          email.invalid &&
            (email.dirty || email.touched || valid === false)
          "
          style="color: red"
        >
          <small *ngIf="email.errors.required">Email is required.</small>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="padding-top: 2rem; " class="col-md-4">
          <mat-form-field appearance="standard">
            <mat-label>Role</mat-label>
            <mat-select
              required
              #Role="ngModel"
              [(ngModel)]="StudentObject.Role"
            >
              <mat-option value="User">User</mat-option>
              <mat-option value="Admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>

          <label style="font-size: small; width: 18rem"
            >the user role you will be assigned
          </label>
          <div
            *ngIf="
              Role.invalid && (Role.dirty || Role.touched || valid === false)
            "
            style="color: red"
          >
            <small
              style="width: 20rem; margin-left: 1rem"
              *ngIf="Role.errors.required"
              >Role is required.</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div style="padding-top: 1rem; padding-left: 2rem" class="col-md-4">
         

          <mat-form-field appearance="standard">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              required
              #Password="ngModel"
              name="Password"
              [(ngModel)]="StudentObject.Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <label style="font-size: small; width: 16rem"
          >Your Passwoed)</label
        >

        
          <span
            *ngIf="
              Password.invalid &&
              (Password.dirty || Password.touched || valid === false)
            "
            style="color: red"
          >
            <label style="width: 25rem;font-size: small;" *ngIf="Password.errors.required"
              >password is required.</label
            >
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div style="padding-top: 1rem" class="col-md-4">
         



          <mat-form-field appearance="standard">
            <mat-label>Confirm your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              required
              #confirm="ngModel"
              [(ngModel)]="Repeatpassword"
               name="confirm"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>


         
          <label style="font-size: small; width: 16rem"
            >confrim password (must match)</label
          >

          <span
            *ngIf="
              confirm.invalid &&
              (confirm.dirty || confirm.touched || valid === false)
            "
            style="color: red"
          >
            <label
              style="width: 30rem; font-size: small"
              *ngIf="confirm.errors.required"
              >password is required.</label
            >
          </span>

          <span
            *ngIf="confirm.valid && confirm.value != Password.value"
            style="color: red"
          >
            <label style="width: 30rem; font-size: small"
              >password does not match.</label
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-left: 70%; padding-top: 1rem">
  <button
    class="btn btn-success"
    style="margin: 0.5rem; margin-left: 3rem"
    [routerLink]="['/studentlist']"
    routerLinkActive="router-link-active"
  >
    back
  </button>
  <button class="btn btn-primary" type="submit" (click)="addstudent()">
    Add
  </button>
</div>
